# Primeiros passos com Pandas e Numpy

Importando as bibliotecas Pandas e Numpy:

In [3]:
import numpy as np
import pandas as pd

Importando o dataset load_iris do sklearn.datasets:

In [4]:
from sklearn.datasets import load_iris

X = load_iris().data
y = load_iris().target

Slicing no dataframe para visualizar parte dos dados que o compõem:

In [6]:
X[:10]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1]])

Criação de dataframe pandas a partir de X, y. Antes, concatenei os arrays numpy. Na sequência transformei o array final para um dataframe. Alterei o nome das colunas para 'X1', 'X2', 'X3', 'X4' e 'target'.

In [4]:
iris_c_ = np.c_[X,y]
print(iris_c_)
print(iris_c_.shape)

[[5.1 3.5 1.4 0.2 0. ]
 [4.9 3.  1.4 0.2 0. ]
 [4.7 3.2 1.3 0.2 0. ]
 [4.6 3.1 1.5 0.2 0. ]
 [5.  3.6 1.4 0.2 0. ]
 [5.4 3.9 1.7 0.4 0. ]
 [4.6 3.4 1.4 0.3 0. ]
 [5.  3.4 1.5 0.2 0. ]
 [4.4 2.9 1.4 0.2 0. ]
 [4.9 3.1 1.5 0.1 0. ]
 [5.4 3.7 1.5 0.2 0. ]
 [4.8 3.4 1.6 0.2 0. ]
 [4.8 3.  1.4 0.1 0. ]
 [4.3 3.  1.1 0.1 0. ]
 [5.8 4.  1.2 0.2 0. ]
 [5.7 4.4 1.5 0.4 0. ]
 [5.4 3.9 1.3 0.4 0. ]
 [5.1 3.5 1.4 0.3 0. ]
 [5.7 3.8 1.7 0.3 0. ]
 [5.1 3.8 1.5 0.3 0. ]
 [5.4 3.4 1.7 0.2 0. ]
 [5.1 3.7 1.5 0.4 0. ]
 [4.6 3.6 1.  0.2 0. ]
 [5.1 3.3 1.7 0.5 0. ]
 [4.8 3.4 1.9 0.2 0. ]
 [5.  3.  1.6 0.2 0. ]
 [5.  3.4 1.6 0.4 0. ]
 [5.2 3.5 1.5 0.2 0. ]
 [5.2 3.4 1.4 0.2 0. ]
 [4.7 3.2 1.6 0.2 0. ]
 [4.8 3.1 1.6 0.2 0. ]
 [5.4 3.4 1.5 0.4 0. ]
 [5.2 4.1 1.5 0.1 0. ]
 [5.5 4.2 1.4 0.2 0. ]
 [4.9 3.1 1.5 0.2 0. ]
 [5.  3.2 1.2 0.2 0. ]
 [5.5 3.5 1.3 0.2 0. ]
 [4.9 3.6 1.4 0.1 0. ]
 [4.4 3.  1.3 0.2 0. ]
 [5.1 3.4 1.5 0.2 0. ]
 [5.  3.5 1.3 0.3 0. ]
 [4.5 2.3 1.3 0.3 0. ]
 [4.4 3.2 1.3 0.2 0. ]
 [5.  3.5 1.6 0.6 0. ]
 [5.1 3.8 1.9 0.4 0. ]
 [4.8 3.  1.4 0.3 0. ]
 [5.1 3.8 1.6 0.2 0. ]
 [4.6 3.2 1.4 0.2 0. ]
 [5.3 3.7 1.5 0.2 0. ]
 [5.  3.3 1.4 0.2 0. ]
 [7.  3.2 4.7 1.4 1. ]
 [6.4 3.2 4.5 1.5 1. ]
 [6.9 3.1 4.9 1.5 1. ]
 [5.5 2.3 4.  1.3 1. ]
 [6.5 2.8 4.6 1.5 1. ]
 [5.7 2.8 4.5 1.3 1. ]
 [6.3 3.3 4.7 1.6 1. ]
 [4.9 2.4 3.3 1.  1. ]
 [6.6 2.9 4.6 1.3 1. ]
 [5.2 2.7 3.9 1.4 1. ]
 [5.  2.  3.5 1.  1. ]
 [5.9 3.  4.2 1.5 1. ]
 [6.  2.2 4.  1.  1. ]
 [6.1 2.9 4.7 1.4 1. ]
 [5.6 2.9 3.6 1.3 1. ]
 [6.7 3.1 4.4 1.4 1. ]
 [5.6 3.  4.5 1.5 1. ]
 [5.8 2.7 4.1 1.  1. ]
 [6.2 2.2 4.5 1.5 1. ]
 [5.6 2.5 3.9 1.1 1. ]
 [5.9 3.2 4.8 1.8 1. ]
 [6.1 2.8 4.  1.3 1. ]
 [6.3 2.5 4.9 1.5 1. ]
 [6.1 2.8 4.7 1.2 1. ]
 [6.4 2.9 4.3 1.3 1. ]
 [6.6 3.  4.4 1.4 1. ]
 [6.8 2.8 4.8 1.4 1. ]
 [6.7 3.  5.  1.7 1. ]
 [6.  2.9 4.5 1.5 1. ]
 [5.7 2.6 3.5 1.  1. ]
 [5.5 2.4 3.8 1.1 1. ]
 [5.5 2.4 3.7 1.  1. ]
 [5.8 2.7 3.9 1.2 1. ]
 [6.  2.7 5.1 1.6 1. ]
 [5.4 3.  4.5 1.5 1. ]
 [6.  3.4 4.5 1.6 1. ]
 [6.7 3.1 4.7 1.5 1. ]
 [6.3 2.3 4.4 1.3 1. ]
 [5.6 3.  4.1 1.3 1. ]
 [5.5 2.5 4.  1.3 1. ]
 [5.5 2.6 4.4 1.2 1. ]
 [6.1 3.  4.6 1.4 1. ]
 [5.8 2.6 4.  1.2 1. ]
 [5.  2.3 3.3 1.  1. ]
 [5.6 2.7 4.2 1.3 1. ]
 [5.7 3.  4.2 1.2 1. ]
 [5.7 2.9 4.2 1.3 1. ]
 [6.2 2.9 4.3 1.3 1. ]
 [5.1 2.5 3.  1.1 1. ]
 [5.7 2.8 4.1 1.3 1. ]
 [6.3 3.3 6.  2.5 2. ]
 [5.8 2.7 5.1 1.9 2. ]
 [7.1 3.  5.9 2.1 2. ]
 [6.3 2.9 5.6 1.8 2. ]
 [6.5 3.  5.8 2.2 2. ]
 [7.6 3.  6.6 2.1 2. ]
 [4.9 2.5 4.5 1.7 2. ]
 [7.3 2.9 6.3 1.8 2. ]
 [6.7 2.5 5.8 1.8 2. ]
 [7.2 3.6 6.1 2.5 2. ]
 [6.5 3.2 5.1 2.  2. ]
 [6.4 2.7 5.3 1.9 2. ]
 [6.8 3.  5.5 2.1 2. ]
 [5.7 2.5 5.  2.  2. ]
 [5.8 2.8 5.1 2.4 2. ]
 [6.4 3.2 5.3 2.3 2. ]
 [6.5 3.  5.5 1.8 2. ]
 [7.7 3.8 6.7 2.2 2. ]
 [7.7 2.6 6.9 2.3 2. ]
 [6.  2.2 5.  1.5 2. ]
 [6.9 3.2 5.7 2.3 2. ]
 [5.6 2.8 4.9 2.  2. ]
 [7.7 2.8 6.7 2.  2. ]
 [6.3 2.7 4.9 1.8 2. ]
 [6.7 3.3 5.7 2.1 2. ]
 [7.2 3.2 6.  1.8 2. ]
 [6.2 2.8 4.8 1.8 2. ]
 [6.1 3.  4.9 1.8 2. ]
 [6.4 2.8 5.6 2.1 2. ]
 [7.2 3.  5.8 1.6 2. ]
 [7.4 2.8 6.1 1.9 2. ]
 [7.9 3.8 6.4 2.  2. ]
 [6.4 2.8 5.6 2.2 2. ]
 [6.3 2.8 5.1 1.5 2. ]
 [6.1 2.6 5.6 1.4 2. ]
 [7.7 3.  6.1 2.3 2. ]
 [6.3 3.4 5.6 2.4 2. ]
 [6.4 3.1 5.5 1.8 2. ]
 [6.  3.  4.8 1.8 2. ]
 [6.9 3.1 5.4 2.1 2. ]
 [6.7 3.1 5.6 2.4 2. ]
 [6.9 3.1 5.1 2.3 2. ]
 [5.8 2.7 5.1 1.9 2. ]
 [6.8 3.2 5.9 2.3 2. ]
 [6.7 3.3 5.7 2.5 2. ]
 [6.7 3.  5.2 2.3 2. ]
 [6.3 2.5 5.  1.9 2. ]
 [6.5 3.  5.2 2.  2. ]
 [6.2 3.4 5.4 2.3 2. ]
 [5.9 3.  5.1 1.8 2. ]]
(150, 5)

In [5]:
df_iris = pd.DataFrame(iris_c_, columns=["X1", "X2", "X3", "X4", "TARGET"])

In [6]:
df_iris

      X1   X2   X3   X4  TARGET
0    5.1  3.5  1.4  0.2     0.0
1    4.9  3.0  1.4  0.2     0.0
2    4.7  3.2  1.3  0.2     0.0
3    4.6  3.1  1.5  0.2     0.0
4    5.0  3.6  1.4  0.2     0.0
..   ...  ...  ...  ...     ...
145  6.7  3.0  5.2  2.3     2.0
146  6.3  2.5  5.0  1.9     2.0
147  6.5  3.0  5.2  2.0     2.0
148  6.2  3.4  5.4  2.3     2.0
149  5.9  3.0  5.1  1.8     2.0

[150 rows x 5 columns]

Cálculo de média da variável 'X2', para cada valor de target com a função groupby:

In [7]:
df_iris.groupby(by = "TARGET").apply(lambda x: x.X2.mean() )

TARGET
0.0    3.428
1.0    2.770
2.0    2.974
dtype: float64

Criação de dicionário mapeando os valores:
        
        0 - 'A'
        
        1 - 'B'
        
        2 - 'C'
        
Utilizando a função map para criar uma coluna 'target_2' com o mapeamento feito:

In [8]:
df_iris_map = df_iris.assign(TARGET_2=y)
df_iris_map.TARGET_2 = df_iris.TARGET.map({0:"A", 1:"B", 2:"C"})

In [9]:
df_iris_map

      X1   X2   X3   X4  TARGET TARGET_2
0    5.1  3.5  1.4  0.2     0.0        A
1    4.9  3.0  1.4  0.2     0.0        A
2    4.7  3.2  1.3  0.2     0.0        A
3    4.6  3.1  1.5  0.2     0.0        A
4    5.0  3.6  1.4  0.2     0.0        A
..   ...  ...  ...  ...     ...      ...
145  6.7  3.0  5.2  2.3     2.0        C
146  6.3  2.5  5.0  1.9     2.0        C
147  6.5  3.0  5.2  2.0     2.0        C
148  6.2  3.4  5.4  2.3     2.0        C
149  5.9  3.0  5.1  1.8     2.0        C

[150 rows x 6 columns]

Filtragem de dataframe onde X1 é maior do que 6 ou target é diferente de 2 e chame-o de df1:

In [10]:
df1 = df_iris_map[((df_iris_map.TARGET) < 2.0) | ((df_iris_map.X1) > 6.0)]
df1

      X1   X2   X3   X4  TARGET TARGET_2
0    5.1  3.5  1.4  0.2     0.0        A
1    4.9  3.0  1.4  0.2     0.0        A
2    4.7  3.2  1.3  0.2     0.0        A
3    4.6  3.1  1.5  0.2     0.0        A
4    5.0  3.6  1.4  0.2     0.0        A
..   ...  ...  ...  ...     ...      ...
144  6.7  3.3  5.7  2.5     2.0        C
145  6.7  3.0  5.2  2.3     2.0        C
146  6.3  2.5  5.0  1.9     2.0        C
147  6.5  3.0  5.2  2.0     2.0        C
148  6.2  3.4  5.4  2.3     2.0        C

[141 rows x 6 columns]

Filtragem dos primeiros 15 índices do dataframe df e chame-o de df2;

In [11]:
df2 = df1.loc[:14]
df2

     X1   X2   X3   X4  TARGET TARGET_2
0   5.1  3.5  1.4  0.2     0.0        A
1   4.9  3.0  1.4  0.2     0.0        A
2   4.7  3.2  1.3  0.2     0.0        A
3   4.6  3.1  1.5  0.2     0.0        A
4   5.0  3.6  1.4  0.2     0.0        A
5   5.4  3.9  1.7  0.4     0.0        A
6   4.6  3.4  1.4  0.3     0.0        A
7   5.0  3.4  1.5  0.2     0.0        A
8   4.4  2.9  1.4  0.2     0.0        A
9   4.9  3.1  1.5  0.1     0.0        A
10  5.4  3.7  1.5  0.2     0.0        A
11  4.8  3.4  1.6  0.2     0.0        A
12  4.8  3.0  1.4  0.1     0.0        A
13  4.3  3.0  1.1  0.1     0.0        A
14  5.8  4.0  1.2  0.2     0.0        A

In [13]:
type(df1)
type(df2)

pandas.core.frame.DataFrame

Transformação dos dataframes df1 e df2 para arrays. Multiplique df1 pelo transposto de df2 e apresentação do resultado final

In [14]:
df1 = df1.drop(["TARGET_2"], axis=1)
df1.head()

    X1   X2   X3   X4  TARGET
0  5.1  3.5  1.4  0.2     0.0
1  4.9  3.0  1.4  0.2     0.0
2  4.7  3.2  1.3  0.2     0.0
3  4.6  3.1  1.5  0.2     0.0
4  5.0  3.6  1.4  0.2     0.0

In [17]:
df2.head()

    X1   X2   X3   X4  TARGET
0  5.1  3.5  1.4  0.2     0.0
1  4.9  3.0  1.4  0.2     0.0
2  4.7  3.2  1.3  0.2     0.0
3  4.6  3.1  1.5  0.2     0.0
4  5.0  3.6  1.4  0.2     0.0

In [18]:
df1_arr = df1.to_numpy()
print('\nNumpy Array\n----------\n', df1_arr)
type(df1_arr)
df2_arr = df2.to_numpy()
print('\nNumpy Array\n----------\n', df2_arr)
type(df2_arr)

Numpy Array
----------
 [[5.1 3.5 1.4 0.2 0. ]
 [4.9 3.  1.4 0.2 0. ]
 [4.7 3.2 1.3 0.2 0. ]
 [4.6 3.1 1.5 0.2 0. ]
 [5.  3.6 1.4 0.2 0. ]
 [5.4 3.9 1.7 0.4 0. ]
 [4.6 3.4 1.4 0.3 0. ]
 [5.  3.4 1.5 0.2 0. ]
 [4.4 2.9 1.4 0.2 0. ]
 [4.9 3.1 1.5 0.1 0. ]
 [5.4 3.7 1.5 0.2 0. ]
 [4.8 3.4 1.6 0.2 0. ]
 [4.8 3.  1.4 0.1 0. ]
 [4.3 3.  1.1 0.1 0. ]
 [5.8 4.  1.2 0.2 0. ]
 [5.7 4.4 1.5 0.4 0. ]
 [5.4 3.9 1.3 0.4 0. ]
 [5.1 3.5 1.4 0.3 0. ]
 [5.7 3.8 1.7 0.3 0. ]
 [5.1 3.8 1.5 0.3 0. ]
 [5.4 3.4 1.7 0.2 0. ]
 [5.1 3.7 1.5 0.4 0. ]
 [4.6 3.6 1.  0.2 0. ]
 [5.1 3.3 1.7 0.5 0. ]
 [4.8 3.4 1.9 0.2 0. ]
 [5.  3.  1.6 0.2 0. ]
 [5.  3.4 1.6 0.4 0. ]
 [5.2 3.5 1.5 0.2 0. ]
 [5.2 3.4 1.4 0.2 0. ]
 [4.7 3.2 1.6 0.2 0. ]
 [4.8 3.1 1.6 0.2 0. ]
 [5.4 3.4 1.5 0.4 0. ]
 [5.2 4.1 1.5 0.1 0. ]
 [5.5 4.2 1.4 0.2 0. ]
 [4.9 3.1 1.5 0.2 0. ]
 [5.  3.2 1.2 0.2 0. ]
 [5.5 3.5 1.3 0.2 0. ]
 [4.9 3.6 1.4 0.1 0. ]
 [4.4 3.  1.3 0.2 0. ]
 [5.1 3.4 1.5 0.2 0. ]
 [5.  3.5 1.3 0.3 0. ]
 [4.5 2.3 1.3 0.3 0. ]
 [4.4 3.2 1.3 0.2 0. ]
 [5.  3.5 1.6 0.6 0. ]
 [5.1 3.8 1.9 0.4 0. ]
 [4.8 3.  1.4 0.3 0. ]
 [5.1 3.8 1.6 0.2 0. ]
 [4.6 3.2 1.4 0.2 0. ]
 [5.3 3.7 1.5 0.2 0. ]
 [5.  3.3 1.4 0.2 0. ]
 [7.  3.2 4.7 1.4 1. ]
 [6.4 3.2 4.5 1.5 1. ]
 [6.9 3.1 4.9 1.5 1. ]
 [5.5 2.3 4.  1.3 1. ]
 [6.5 2.8 4.6 1.5 1. ]
 [5.7 2.8 4.5 1.3 1. ]
 [6.3 3.3 4.7 1.6 1. ]
 [4.9 2.4 3.3 1.  1. ]
 [6.6 2.9 4.6 1.3 1. ]
 [5.2 2.7 3.9 1.4 1. ]
 [5.  2.  3.5 1.  1. ]
 [5.9 3.  4.2 1.5 1. ]
 [6.  2.2 4.  1.  1. ]
 [6.1 2.9 4.7 1.4 1. ]
 [5.6 2.9 3.6 1.3 1. ]
 [6.7 3.1 4.4 1.4 1. ]
 [5.6 3.  4.5 1.5 1. ]
 [5.8 2.7 4.1 1.  1. ]
 [6.2 2.2 4.5 1.5 1. ]
 [5.6 2.5 3.9 1.1 1. ]
 [5.9 3.2 4.8 1.8 1. ]
 [6.1 2.8 4.  1.3 1. ]
 [6.3 2.5 4.9 1.5 1. ]
 [6.1 2.8 4.7 1.2 1. ]
 [6.4 2.9 4.3 1.3 1. ]
 [6.6 3.  4.4 1.4 1. ]
 [6.8 2.8 4.8 1.4 1. ]
 [6.7 3.  5.  1.7 1. ]
 [6.  2.9 4.5 1.5 1. ]
 [5.7 2.6 3.5 1.  1. ]
 [5.5 2.4 3.8 1.1 1. ]
 [5.5 2.4 3.7 1.  1. ]
 [5.8 2.7 3.9 1.2 1. ]
 [6.  2.7 5.1 1.6 1. ]
 [5.4 3.  4.5 1.5 1. ]
 [6.  3.4 4.5 1.6 1. ]
 [6.7 3.1 4.7 1.5 1. ]
 [6.3 2.3 4.4 1.3 1. ]
 [5.6 3.  4.1 1.3 1. ]
 [5.5 2.5 4.  1.3 1. ]
 [5.5 2.6 4.4 1.2 1. ]
 [6.1 3.  4.6 1.4 1. ]
 [5.8 2.6 4.  1.2 1. ]
 [5.  2.3 3.3 1.  1. ]
 [5.6 2.7 4.2 1.3 1. ]
 [5.7 3.  4.2 1.2 1. ]
 [5.7 2.9 4.2 1.3 1. ]
 [6.2 2.9 4.3 1.3 1. ]
 [5.1 2.5 3.  1.1 1. ]
 [5.7 2.8 4.1 1.3 1. ]
 [6.3 3.3 6.  2.5 2. ]
 [7.1 3.  5.9 2.1 2. ]
 [6.3 2.9 5.6 1.8 2. ]
 [6.5 3.  5.8 2.2 2. ]
 [7.6 3.  6.6 2.1 2. ]
 [7.3 2.9 6.3 1.8 2. ]
 [6.7 2.5 5.8 1.8 2. ]
 [7.2 3.6 6.1 2.5 2. ]
 [6.5 3.2 5.1 2.  2. ]
 [6.4 2.7 5.3 1.9 2. ]
 [6.8 3.  5.5 2.1 2. ]
 [6.4 3.2 5.3 2.3 2. ]
 [6.5 3.  5.5 1.8 2. ]
 [7.7 3.8 6.7 2.2 2. ]
 [7.7 2.6 6.9 2.3 2. ]
 [6.9 3.2 5.7 2.3 2. ]
 [7.7 2.8 6.7 2.  2. ]
 [6.3 2.7 4.9 1.8 2. ]
 [6.7 3.3 5.7 2.1 2. ]
 [7.2 3.2 6.  1.8 2. ]
 [6.2 2.8 4.8 1.8 2. ]
 [6.1 3.  4.9 1.8 2. ]
 [6.4 2.8 5.6 2.1 2. ]
 [7.2 3.  5.8 1.6 2. ]
 [7.4 2.8 6.1 1.9 2. ]
 [7.9 3.8 6.4 2.  2. ]
 [6.4 2.8 5.6 2.2 2. ]
 [6.3 2.8 5.1 1.5 2. ]
 [6.1 2.6 5.6 1.4 2. ]
 [7.7 3.  6.1 2.3 2. ]
 [6.3 3.4 5.6 2.4 2. ]
 [6.4 3.1 5.5 1.8 2. ]
 [6.9 3.1 5.4 2.1 2. ]
 [6.7 3.1 5.6 2.4 2. ]
 [6.9 3.1 5.1 2.3 2. ]
 [6.8 3.2 5.9 2.3 2. ]
 [6.7 3.3 5.7 2.5 2. ]
 [6.7 3.  5.2 2.3 2. ]
 [6.3 2.5 5.  1.9 2. ]
 [6.5 3.  5.2 2.  2. ]
 [6.2 3.4 5.4 2.3 2. ]]

Numpy Array
----------
 [[5.1 3.5 1.4 0.2 0. ]
 [4.9 3.  1.4 0.2 0. ]
 [4.7 3.2 1.3 0.2 0. ]
 [4.6 3.1 1.5 0.2 0. ]
 [5.  3.6 1.4 0.2 0. ]
 [5.4 3.9 1.7 0.4 0. ]
 [4.6 3.4 1.4 0.3 0. ]
 [5.  3.4 1.5 0.2 0. ]
 [4.4 2.9 1.4 0.2 0. ]
 [4.9 3.1 1.5 0.1 0. ]
 [5.4 3.7 1.5 0.2 0. ]
 [4.8 3.4 1.6 0.2 0. ]
 [4.8 3.  1.4 0.1 0. ]
 [4.3 3.  1.1 0.1 0. ]
 [5.8 4.  1.2 0.2 0. ]]

numpy.ndarray

In [19]:
df2_arr = df2_arr.T
type(df2_arr)

numpy.ndarray

In [20]:
np.dot(df1_arr, df2_arr)

array([[40.26, 37.49, 37.03, ..., 36.96, 33.99, 45.3 ],
       [37.49, 35.01, 34.49, ..., 34.5 , 31.63, 42.14],
       [37.03, 34.49, 34.06, ..., 34.  , 31.26, 41.66],
       ...,
       [48.26, 45.75, 44.49, ..., 44.93, 40.28, 52.92],
       [51.33, 48.53, 47.31, ..., 47.68, 42.87, 56.34],
       [51.54, 48.6 , 47.5 , ..., 47.75, 43.03, 56.5 ]])

Criação de uma função que recebe um  número inteiro positivo N e retorna um array 0, 1, ...,:

In [26]:
try:
    num = int(input("Informe um número inteiro positivo: "))
    if num2 <= 0 | num2 % 2 != 0:
        num2 = 0
except:
    print("Favor corrigir o valor inserido, sem colocar texto, somente números. Exemplo: 1, 2 ou 3")
arr2 = np.arange(0, num2+1, 1)
print(arr2)

Informe um número inteiro positivo: 12
[ 0  1  2  3  4  5  6  7  8  9 10 11 12]

Criação uma função que receba um array [0,1, .., N] e retorne o mesmo array com os números em posições aleatórias sem reposição:

In [23]:
try:
    num2 = int(input("Informe um número inteiro positivo: "))
    if num2 <= 0 | num2 % 2 != 0:
        num2 = 0
except:
    print("Favor corrigir o valor inserido, sem colocar texto, somente números. Exemplo: 1, 2 ou 3")
arr2 = np.arange(0, num2+1, 1)
print(np.random.choice(arr2, size = num2+1, replace = False))

Informe um número inteiro positivo: 12
[11  4  6  0  2  5  8 12  1  9 10  7  3]

Criação de uma função que recebe um número inteiro positivo N. Essa função retorna um array de tamanho N, cujos valores são números inteiros entre 0 e N-1 e pode haver repetição desses números:

In [2]:
try:
    num3 = int(input("Informe um número inteiro positivo: "))
    if num3 <= 0 | num2 % 2 != 0:
        num3 = 0
except:
    print("Favor corrigir o valor inserido, sem colocar texto, somente números. Exemplo: 3, 6 ou 99")
arr3 = np.arange(0, num3, 1)
print(np.random.choice(arr3, size = num3, replace = True))

Favor corrigir o valor inserido, sem colocar texto, somente números. Exemplo: 3, 6 ou 99

NameError: name 'np' is not defined

Criação de uma função divide_dados:
        
        - recebe um array X de dimensões quaisquer (n,k) e um parâmetro p entre 0 e 1.
        - divide o array X em duas partes disjuntas de forma aleatória. Ou seja, crie dois novos arrays, X1 e X2,
        onde a dimensão de linhas de X1 somada com a dimensão de linhas de X2 deve ser igual a dimensão de linhas de X.
        - interpretando p como percentual, o tamanho de X1 deve ser p*100% do número de linhas de X; enquanto X2 deve ser o resto.
        - retorna esses dois arrays.

In [1]:
x =  np.random.randint(1, 1000, size=(8, 2))
print(x)
print('------------------------*------------------------')
p = np.random.randint(1,7)
print(p)
print('------------------------*------------------------')
x1 = x[0:p]
print(x1)
print(type(x1))
print('------------------------*------------------------')
x2 = x[p:8]
print(x2)
print(type(x2))

NameError: name 'np' is not defined